<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/equipos" />
		<property name="username" value="actividades" />
		<property name="password" value="zsexdr" />
	</bean>


	<bean id="daoEquipo" class="dao.DAOEquipo">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="codificadorPassword"
		class="org.springrframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<bean id="daoAutenticacion"
		class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	

</beans>